 body {
 	font-family: 'Arial', 'sans-serif';
 	background: #000;
 	color: #999;
 	box-sizing: border-box;
 	padding: 0;
 	margin: 0; 
 }
 ul{
 	list-style: none;
 }
 h1,h2,h3,h4{
 	color: #fff;
 }
 a{
 	text-decoration: none;
 	color: #fff;
 }
 p{
 	margin: 8px 0;
 }
 image{
 	width: 100%; 
 }
 .showcase{
 	width: 100%;
 	height: 100vh;
 	position: relative;
 	background: url('images/Netflix-Background.jpg');
 	background-repeat: no-repeat;
 	background-origin: border-box;
 	background-position: center;
 	background-size: cover;
 }
 .showcase::after{
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 1;
 	background: rgba(0 0 0 0.6);
 	box-shadow: inset 100px 100px 250px #000000, inset -100px -100px 250px #000000;
 }

.showcase-top{
	position: relative;
	height: 90px;
	z-index: 2;

}
.showcase-top img{
	width: 180px;
	position: absolute;
	top:50%;
	left: 5px;
}
.showcase-top a{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}
.button{
	display: inline;
	background: red;
	color: #fff;
	padding: 6px 22px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	box-shadow: 0 1px rgba(0,0,0,0.5);
	border-radius: 2px;
}
.button:hover{
	opacity: 0.9;
}
.buttton-rouded{
	border-radius: 5px;
}
.showcase-content{
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 25%;
	z-index: 2;
}
.showcase-content h1{
	font-weight: 700;
	font-size: 80px;
	line-height: 1;
	margin: 0 0 20px;
}
.showcase-content p{
	color: #fff;
	font-weight: 400;
	font-size: 32px;
	line-height: 1.25;
	margin: 0 0 20px;
}
form{
	margin: 0;
	padding: 0;
}
input[type=text]{
	height: 50px;
	width: 500px;
	margin: 0;
	margin-top: -5px;
	margin-right: -5px;
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    padding-left: 15px;
}
.btn-xl{
	font-size: 26px;
	padding: 12px 25px;
	/*margin: 5px 0;*/
	/*margin-left: -5px;*/
}

.tabs{
	background: #3d3d3d;
	padding-top: 16px;
	border-bottom: 3px solid #3d3d3d;
}
.tabs .container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.tabs .container > div: hover{
	 color: white;
	 cursor: pointer;
}


.tab-content-1, .tab-content-2, .tab-content-3{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
}

.inner-content-1{
	color: white;
	font-size: 1.7rem;
	padding: 25px;
	/*text-align: center;*/
}
.tab-content-1 img, .tab-content-2 img, .tab-content-3 img{
	width: 600px;
	height: 400px;
	margin: 10px;
}
.inner-content-2{
	color: white;
	font-size: 1.7rem;
	padding: 25px;
}
.inner-content-3{
	color: white;
	padding: 25px;
	font-size: 1.7rem;
	/*text-align: center;*/

}
.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
	margin-left: 40px;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}

.line{
	width:100%;
	height: 9px;
	background: #3d3d3d;
}
@media (max-width: 960px) {

	.showcase {
		height: 80vh;
	}

	/*.hide-sm {
		display: none;
	}*/

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

    .tab-content-1, .tab-content-3 {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.tab-content-2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}
	.inner-content-1, .inner-content-2, .inner-content-3{
		padding: 0;
		text-align: center;
		font-size: 1.3rem;
	}
	.tab-content-1 img,.tab-content-2 img,.tab-content-3 img{
		margin: auto;
		width: 450px;
		height: 300px;
	}
	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
	input[type=text]
	{
		width: 300px;
		margin-right: 0;
	}
	.btn-xl{
		display: block;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 0;
}
}



